{{ define "main" }}
<div class="container" style="font-size:12px;text-align: center;" id="projects"; width="90%">
    
    <div class="row">
    {{ range .Pages }}
    <!-- <center> 
    <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/estate/bdp.JPG">  
        <img src="../images/bionano.jpg">     
      </center> -->

    </div>
  {{end}}
  </div>
 </div>


 <!--house-00-->




 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\realestate\1\2023-05-house-00-1.jpg" >       
    </center>
  </div>
</div>
</div>


 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\realestate\1\2023-05-house-00-2.jpg" >       
    </center>
  </div>
</div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\realestate\1\2023-05-house-00-3.jpg" >
    </center>
  </div>
</div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\realestate\1\2023-05-house-00-4.jpg" >       
    </center>
  </div>
</div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\realestate\1\2023-05-house-00-5.jpg" >       
    </center>
  </div>
</div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\realestate\1\2023-05-house-00-6.jpg" >       
    </center>
  </div>
</div>
</div>


 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\realestate\1\2023-05-house-00-7.jpg" >       
    </center>
  </div>
</div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\realestate\1\2023-05-house-00-8.jpg" >
    </center>
  </div>
</div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\realestate\1\2023-05-house-00-9.jpg" >       
    </center>
  </div>
</div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\realestate\1\2023-05-house-00-10.jpg" >       
    </center>
  </div>
</div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\realestate\1\2023-05-house-00-11.jpg" >       
    </center>
  </div>
</div>
</div>


 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\realestate\1\2023-05-house-00-12.jpg" >       
    </center>
  </div>
</div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\realestate\1\2023-05-house-00-13.jpg" >
    </center>
  </div>
</div>
</div>


{{ end }}
