{{ define "main" }}
<div class="container" style="font-size:12px;text-align: center;" id="projects"; width="90%">
    
    <div class="row">
    {{ range .Pages }}
    <!-- <center> 
    <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/estate/bdp.JPG">  
        <img src="../images/bionano.jpg">     
      </center> -->

    </div>
  {{end}}
  </div>
 </div>




<!--#CM-->


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\A Casa da Musica inside\2019_PT_Feb_FA_3_CM_-6.jpg" >
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\A Casa da Musica inside\2019_PT_Feb_FA_3_CM_-4.jpg" > 
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\A Casa da Musica inside\2019_PT_Feb_FA_3_CM_-3.jpg" > 
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\A Casa da Musica inside\2019_PT_Feb_FA_3_CM_-2.jpg" > 
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\A Casa da Musica inside\2019_PT_Feb_FA_3_CM_-4.jpg" > 
    </center>        
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\A Casa da Musica inside\2019_PT_Feb_FA_3_CM_-1.jpg" > 
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\A Casa da Musica inside\2019_PT_Feb_FA_3_CM_-5.jpg" > 
    </center>            
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; padding-bottom: 20%; width: 60%;">
      <img src="..\images\architecture\A Casa da Musica inside\2019_PT_Feb_FA_3_CM_-1.jpg" > 
    </center>
    </div>
  </div>
<div>

            


<!--#TPL-->


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\Terminal Porto de Leixões\2019_PT_Feb_FA_6_DL_-5.jpg" > 
    </center>
    </div>
  </div>
</div>  


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\Terminal Porto de Leixões\2019_PT_Feb_FA_6_DL_-6.jpg" > 
    </center>
    </div>
  </div>
</div>   
  
              
<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\Terminal Porto de Leixões\2019_PT_Feb_FA_6_DL_-2.jpg" > 
    </center>
    </div>
  </div>
</div> 
    
                
<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\Terminal Porto de Leixões\2019_PT_Feb_FA_6_DL_-8.jpg" > 
    </center>
    </div>
  </div>
</div> 

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
      <center> 
      <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
        <img src="..\images\architecture\Terminal Porto de Leixões\2019_PT_Feb_FA_6_DL_-9.jpg" > 
      </center>
    </div>
  </div>
</div> 


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\Terminal Porto de Leixões\2019_PT_Feb_FA_6_DL_-11.jpg" > 
    </center>
    </div>
  </div>
</div> 


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\Terminal Porto de Leixões\2019_PT_Feb_FA_6_DL_-13.jpg" > 
    </center>
    </div>
  </div>
</div> 
      
                  
<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%;padding-bottom: 20%; width: 60%;">
      <img src="..\images\architecture\Terminal Porto de Leixões\2019_PT_Feb_FA_6_DL_-12.jpg" > 
    </center>
    </div>
  </div>
</div>




  <!--#Sé Catedral Porto-->


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\Sé Catedral Porto\2019_PT_Feb_FAa_4_SP_-1.jpg" > 
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\Sé Catedral Porto\2019_PT_Feb_FAa_4_SP_-2.jpg" > 
    </center>
    </div>
  </div>
</div>

    
<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%;padding-bottom: 20%; width: 60%;">
      <img src="..\images\architecture\Sé Catedral Porto\2019_PT_Feb_FAa_4_SP_-3.jpg" > 
    </center>
    </div>
  </div>
</div>

      


<!--#FEUP Porto-->


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\FEUP Porto\2019_PT_Feb_FA_5_FEUP_-4.jpg" > 
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\FEUP Porto\2019_PT_Feb_FA_5_FEUP_-6.jpg" > 
    </center>
    </div>
  </div>
</div>



<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\FEUP Porto\2019_PT_Feb_FA_5_FEUP_-3.jpg" > 
    </center>
    </div>
  </div>
</div>

      
<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
     <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
        <img src="..\images\architecture\FEUP Porto\2019_PT_Feb_FA_5_FEUP_-2.jpg" > 
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\architecture\FEUP Porto\2019_PT_Feb_FA_5_FEUP_-5.jpg" > 
    </center>
    </div>
  </div>
</div>
        
<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%;padding-bottom: 20%; width: 60%;">
      <img src="..\images\architecture\FEUP Porto\2019_PT_Feb_FA_5_FEUP_-7.jpg" > 
    </center>
    </div>
  </div>
</div> 




{{ end }}