{{ define "main" }}
<div class="container" style="font-size:12px;text-align: center;" id="projects"; width="90%">
    
    <div class="row">
    {{ range .Pages }}
    <!-- <center> 
    <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/estate/bdp.JPG">  
        <img src="../images/bionano.jpg">     
      </center> -->

    </div>
  {{end}}
  </div>
 </div>




 <!--#Viola Poli s2s-->


 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\viola poli-muta\s2s-viola-2022-10-20-v5-2.jpg" >   
      Viola Poli - Muta - 2022 Soul2Soul Genève.   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\viola poli-muta\s2s-viola-2022-10-20-v5-7.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\viola poli-muta\s2s-viola-2022-10-20-v5-10.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\viola poli-muta\s2s-viola-2022-10-20-v5-13.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\viola poli-muta\s2s-viola-2022-10-20-v5-17.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\viola poli-muta\s2s-viola-2022-10-20-v5-19.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\viola poli-muta\s2s-viola-2022-10-20-v5-33.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\viola poli-muta\s2s-viola-2022-10-20-v5-41.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; padding-bottom: 20%; width: 60%;">
      <img src="..\images\expositions et installations\viola poli-muta\s2s-viola-2022-10-20-v5-47.jpg" >   
    </center>
    </div>
  </div>
</div>


<!--#Rafistolage 8-->


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\eva zornio-pleure-moi une rivière\2022-11-10-eva-zornio-s2s-1.jpg" >
      Eva Zornio - Pleure-moi une rivière - 2022 Soul2Soul Genève. 
      <!--#<p><span style="font-size:400%;"></span>Eva Zornio - Pleure-moi une rivière - 2022 Soul2Soul Genève.</span></p>-->
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\eva zornio-pleure-moi une rivière\2022-11-10-eva-zornio-s2s-4.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\eva zornio-pleure-moi une rivière\2022-11-10-eva-zornio-s2s-7.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\eva zornio-pleure-moi une rivière\2022-11-10-eva-zornio-s2s-10.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\eva zornio-pleure-moi une rivière\2022-11-10-eva-zornio-s2s-12.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\eva zornio-pleure-moi une rivière\2022-11-10-eva-zornio-s2s-14.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\eva zornio-pleure-moi une rivière\2022-11-10-eva-zornio-s2s-16.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\expositions et installations\eva zornio-pleure-moi une rivière\2022-11-10-eva-zornio-s2s-6.jpg" >   
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; padding-bottom: 20%; width: 60%;">
      <img src="..\images\expositions et installations\eva zornio-pleure-moi une rivière\2022-11-10-eva-zornio-s2s-22.jpg" >   
    </center>
    </div>
  </div>
</div>
{{ end }}
