{{ define "main" }}
<div class="container" style="font-size:12px;text-align: center;" id="projects"; width="90%">
    
    <div class="row">
    {{ range .Pages }}
    <!-- <center> 
    <div class="col-lg-6" style="padding-top: 3%;">
        <img src="../images/estate/bdp.JPG">  
        <img src="../images/bionano.jpg">     
      </center> -->
    </div>
  {{end}}
  </div>
 </div>




<!--#Rafistolage 8-->


 <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
   <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\reproductions d'oeuvres\Rafistolage 8\2023-03-25-syl-gelewski-0001-27.jpg" >   
      Syl Gelewski - Rafistolage 8 - 58 x 58 x 3 cm- Oil on synthetic canvas scraps, cotton, laces, strings    
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\reproductions d'oeuvres\Rafistolage 8\2023-03-25-syl-gelewski-0001-29.jpg" >       
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\reproductions d'oeuvres\Rafistolage 8\2023-03-25-syl-gelewski-0001-31.jpg" >      
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\reproductions d'oeuvres\Rafistolage 8\2023-03-25-syl-gelewski-0001-32.jpg" >       
    </center>
    </div>
  </div>
</div>




<!--#Une Dernière Avec Lou-->

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
      <center> 
      <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
        <img src="..\images\reproductions d'oeuvres\Une Dernière Avec Lou\2023-03-25-syl-gelewski-0001-4a.jpg" >       
        Syl Gelewski - Une Dernière Avec Lou - 51 x 31 cm - Oil on linen.
      </center>
      </div>
    </div>
<div>

  
<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\reproductions d'oeuvres\Une Dernière Avec Lou\2023-03-25-syl-gelewski-0001-18.jpg" >       
    </center>
    </div>
  </div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\reproductions d'oeuvres\Une Dernière Avec Lou\2023-03-25-syl-gelewski-0001-20.jpg" > 
    </center>
  </div>
</div>
</div>

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
  <center> 
  <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\reproductions d'oeuvres\Une Dernière Avec Lou\2023-03-25-syl-gelewski-0001-19.jpg" >       
    </center>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\reproductions d'oeuvres\Une Dernière Avec Lou\2023-03-25-syl-gelewski-0001-17.jpg" >       
    </center>
    </div>
  </div>
</div>


<!--#Moment de Flottement-->

<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\reproductions d'oeuvres\Moment de Flottement\MomentdeFlottement-1.jpg" > 
      Syl Gelewski - Moment de Flottement - 28.5 x 18.5 x 2.5 cm - Oil and spray on linen, lacquer on wood frame.      
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\reproductions d'oeuvres\Moment de Flottement\MomentdeFlottement-2.jpg" >       
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\reproductions d'oeuvres\Moment de Flottement\MomentdeFlottement-3.jpg" >       
    </center>
    </div>
  </div>
</div>


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\reproductions d'oeuvres\Moment de Flottement\MomentdeFlottement-4.jpg" >       
    </center>
    </div>
  </div>
</div>




<!--#The Disintegration Loops-->


<div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
  <div class="row">
    <center> 
    <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
      <img src="..\images\reproductions d'oeuvres\The Disintegration Loops\The Disintegration Loops-1.jpg" >
      Syl Gelewski - The Disintegration Loops - 140 x 88 x 2.5 cm - oil on canvas, lacquer on wood frame.          
    </center>
    </div>
  </div>


  <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
    <div class="row">
      <center> 
      <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
        <img src="..\images\reproductions d'oeuvres\The Disintegration Loops\The Disintegration Loops-2.jpg" > 
      </div>
    </div>


    <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
      <div class="row">
        <center> 
        <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
          <img src="..\images\reproductions d'oeuvres\The Disintegration Loops\The Disintegration Loops-3.jpg" > 
        </div>
      </div>


      <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
        <div class="row">
          <center> 
          <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
            <img src="..\images\reproductions d'oeuvres\The Disintegration Loops\The Disintegration Loops-4.jpg" > 
          </div>
        </div>


        <div class="container" style="font-size:12px;text-align: center;" id="projects" width="90%">
          <div class="row">
            <center> 
            <div class="col-lg-6" style="padding-top: 8%; width: 60%;">
              <img src="..\images\reproductions d'oeuvres\The Disintegration Loops\The Disintegration Loops-5.jpg" > 
            </div>
          </div>
</div>
{{ end }}
